__pycache__/
adv_VIToutputs?/
adv_cifar_CORoutputs?/
adv_cifar_RESoutputs?/
adv_cifar_VIToutputs?/
adv_CORoutputs?/
adv_cw_outputs/
adv_imgnt_CORoutputs?/
adv_imgnt_RESoutputs?/
adv_imgnt_VIToutputs?/
adv_RESoutputs?/
archive/
cifar10_jpegs/
clane9___imagenet-100/
cornet/
CORnet/
data/
image_maintenance/
logs/
logs_cross/
maintenance/
val/
cornet_cifar10_best.pth
fgsm_helperfxnsViT.py
fgsm_helperfxnsRES.py
term_output*.txt
test_*.log
training_*.log
train_*.log
final_term_output*.txt
*.pyc
*.arrow
*.lock